/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

header{
  height: 80px;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

main, .jumbotron{
  padding-top: 80px;
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
}

/* CHECKBOX */
.checkbox-round {
  width: 1.4rem;
  height: 1.4rem;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid rgb(100, 100, 100);
  appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #0061ff;
}

/* UTILITY */
.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.second-container{
  max-width: 1050px;
}

.debug{
  background-color: rgba(101, 183, 255, 0.349);
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.d-wrap{
  flex-wrap: wrap;
}

.line{
  background-color: #dcdcde;
  height: 1px;
  width: 60px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.f-line{
  position: absolute;
  background-color: #dcdcde;
  height: 1px;
  width: 120px;
  margin-bottom: 10px;
  padding: 0;
  left: 0;
}

/* BUTTON */
.btn{
  border: 1px solid black;
  padding: 12px 15px;
}

.blue{
  background-color: #0061ff;
  color: white;
  padding: 12px 15px;
  border: none;
}

.long{
  padding: 10px 33px;
}

.very-long{
  padding: 10px 80px;
}

.accedi{
  padding: 5px 15px;
}

.btn.blue:hover{
  background-color: #3b86ff;
}

/* HEADER */
header nav ul{
  display: flex;
}

header nav ul li{
  display: inline-block;
  height: 100%;
  padding-left: 30px;
}

header a{
  text-decoration: none;
}

header nav ul li a{
  font-size: 1.03rem;
  color: #828282;
}

header nav ul li a:hover{
  border-bottom: 4px solid #0061ff;
  padding-bottom: 28px;
}

header nav.wrap{
  align-items: center;
  height: 100%;
}

header nav .logo{
  margin-left: 20px;
}

header nav .logo img{
  width:135px;
  vertical-align: middle;
}

header nav .nav-cont{
  width: 100%;
  justify-content: space-between;
}

header nav .header-left{
  margin-left: 20px;
}

header nav .header-right{
  padding-right: 5px;
}

header nav .header-right ul li .btn.blue.accedi{
  border: none;
  padding: 5px 15px;
}

/* JUMBOTRON */
.jumbotron{
  height: 800px;
  background-color: #b4d0e7;
}

.jumbotron a{
  text-decoration: none;
}

.jumbo-top h1{
  padding-top: 60px;
  font-size: 4.7rem;
  font-weight: 800;
}

.jumbo-bottom{
  padding-top: 50px;
}

.jumbo-bottom .text-left{
  width: 33%;
}

.jumbo-bottom .cta{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.jumbo-bottom .cta a{
  padding: 20px 0;
  color:black;
}

.jumbo-bottom .cta span:hover{
  text-decoration: underline;
}

.jumbo-bottom .cta span.btn.blue:hover{
  text-decoration: none;
}

.jumbo-bottom .cta a i{
  padding-top: 10px;
  font-size: 3.3rem;
  font-weight: bold;
}

.jumbo-bottom .img-right{
  width: 80%
}

/* MAIN */
/* SECTION-1 */
/* TOP */
main section .text-top{
  padding-top: 50px;
}

main section .text-top h2{
  font-size: 2.5rem;
}

main section .text-top .check{
  padding-top: 60px;
}

main section .text-top .check .check-1{
  margin-right: 60px;
}
/* /TOP */

/* MIDDLE */
main section .middle-card{
  gap: 50px;
  padding-top: 50px;
}

main section .middle-card .card{
  width: 100%;
  border-bottom:1px solid #dcdcde;
  border-left:1px solid #dcdcde;
  border-right:1px solid #dcdcde;
  border-top:1px solid #dcdcde;
}

main section .middle-card .card .type{
  border-bottom: 1px solid #dcdcde;
  padding: 10px;
  text-align: center;
}

main section .middle-card .card .type>span{
  font-size: 0.9rem;
}

main section .middle-card .card .info{
padding: 30px;
font-size: 0.9rem;
}

main section .middle-card .card .info h3{
  font-size: 1.5rem;
  padding-bottom: 10px;
}

main section .middle-card .card .info>span.price{
  display: block;
  font-weight: bold;
  padding-bottom: 20px;
}

main section .middle-card .card .info ul{
  padding-top: 40px;
}

main section .middle-card .card .info ul li{
  display: flex;
  padding-top: 20px;
  gap: 5px;
}

main section .middle-card .card .cta a{
  text-decoration: none;
}

main section .middle-card .card .info .cta{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

main section .middle-card .card .info .cta>a{
  text-align: center;
}

main section .middle-card .card .buy{
  padding-top: 40px;
}

main section .middle-card .card .highlights{
  padding-top: 40px;
}

main section .middle-card .card .highlights ul li i{
  color: #0061ff;
}

/* BOTTOM CARD */
main section .middle-card .card .split>.info{
  width: 73%;
  padding-right: 80px;
}

main section .middle-card .card .split .info .spec{
  display: inline-block;
  padding-top: 50px;
}

main section .middle-card .card .split .button-right{
  padding-top: 37px;
}

main section .middle-card .card .split .button-right a,
main section .wrap-partner .text-rigth .cta a{
  text-decoration: none;
}
/* /BOTTOM CARD */

/* SECTION-2 */
main section .wrap-partner{
  padding-top: 130px;
}

main section .wrap-partner .immage-left{
  width: 60%;
}

main section .wrap-partner .text-rigth{
  width: 40%;
  padding-left: 50px;
  padding-top: 60px;
}

main section .wrap-partner .text-rigth h2{
  padding-bottom: 20px;
}

main section .wrap-partner .text-rigth>p{
  padding-bottom: 40px;
}

main section .wrap-partner .text-rigth .cta a{
  color: black;
}

main section .wrap-partner .text-rigth .cta a:hover{
  color: rgb(109, 109, 109);
}
/* /SECTION-2 */

/* SECTION-3 */
main section .box-section{
  padding-top: 170px;
}

main section .box-section h2{
  font-size: 2.55rem;
}

main section .box-section .wrap-box{
  padding-top: 60px;
  gap: 50px;
}

main section .box-section .wrap-box .box{
  width: calc(100% / 3 - 50px);
}

main section .box-section .wrap-box .box h3{
  padding: 20px 0;
  font-size: 1.5rem;
}

main section .box-section .wrap-box .box p{
  padding: 20px 0;
}
/* /SECTION-3 */


/* FOOTER */
footer{
  background-color: #000000;
  height: 570px;
  color: #ffffff;
}

footer a{
  color: #ffffff;
  text-decoration:none ;
}

footer a:hover{
  text-decoration:underline
}

footer .footer-top{
  justify-content: space-between;
  padding: 100px 0;
}

footer .footer-top .list{
  width: 100%;
}

footer .footer-top .list h2{
  padding-bottom: 20px;
}

footer .footer-top .list li{
  padding:7px 0;
}

footer .footer-line{
  position: relative;
}

footer .footer-bottom{
  padding-top: 50px;
  padding-left: 0;
}

footer .footer-bottom i{
  color: white;
}