/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

header{
  height: 80px;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #ffffff;
}

main, .jumbotron{
  padding-top: 80px;
}

main{ 
  height: 2000px; /*TOGLIERE*/
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

/* UTILITY */
.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.debug{
  background-color: rgba(101, 183, 255, 0.349);
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

/* BUTTON */
.btn{
  border: 1px solid black;
}

.blue{
  background-color: #0061ff;
  color: white;
  padding: 12px 15px;
  border: none;
}

.btn.blue:hover{
  background-color: #3b86ff;
}

/* HEADER  DA SISTEMARE UNDERLINE HOVER E ACCEDI*/
header nav ul{
  list-style: none;
  display: flex;
}

header nav ul li{
  display: inline-block;
  padding: 0 20px;
  height: 100%;
}

header nav ul li a{
  font-size: 1.03rem;
  color: #828282;
}

header nav ul li a:hover{
  border-bottom: 4px solid #0061ff;
  padding-bottom: 37px;
}

header nav.wrap{
  align-items: center;
  height: 100%;
}

nav .logo img{
  width:135px;
  vertical-align: middle;
}

header nav .nav-cont{
  
  width: 100%;
  justify-content: space-between;
}

header nav .header-left{
  margin-left: 20px;
}

/* JUMBOTRON */
.jumbotron{
  height: 800px;
  background-color: #b4d0e7;
}

.jumbo-top h1{
  padding-top: 60px;
  font-size: 4.7rem;
  font-weight: 800;
}

.jumbo-bottom{
  padding-top: 50px;
}

.jumbo-bottom .text-left{
  width: 33%;
}

.jumbo-bottom .cta{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.jumbo-bottom .cta a{
  padding: 20px 0;
  color:black;
}

.jumbo-bottom .cta span:hover{
  text-decoration: underline;
}

.jumbo-bottom .cta span.btn.blue:hover{
  text-decoration: none;
}

.jumbo-bottom .cta a i{
  padding-top: 10px;
  font-size: 3.3rem;
  font-weight: bold;
}

.jumbo-bottom .img-right{
  width: 80%
}
